html, body{
	background-color: #224422;
}

.wrapper{
	width: 800px;
	height: 600px;
	position: absolute;
	margin: -300px 0px 0px -400px;
	background-color: #224422;
	left: 50%;
	top: 50%;
}

@font-face {
  font-family: "superscript";
  src: url("./SUPERSCR.TTF");
}